{{ define "user.index.layout" }}
{{ template "user.navbar" . }}
{{ template "user.index.content" . }}
{{ template "user.footer" . }}
{{ end }}

{{ define "user.index.content"}}




<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <hr>
    <div class="container">
        <h2 style="text-align: center;">Best articles of our real estate blog</h2>
        <div class="row topmargin-sm">
            <div class="col-md-6" style="font-family: 'Poppins',sans-serif; color: #111111; font-weight: 300">
                <p>Luxury living is defined differently across different markets and areas. It also has its own definition in Ethiopia. Metropolitan Real Estate aims to redefine luxury living in Ethiopian homes.
                    Our very first luxury house for sale in Addis Ababa was, Sarbet Gabriel Apartments, which was built and delivered in 12 months. We have now launched  two more luxury housing projects. Standard apartments are built with an international standard quality but with the element of affordability. Construction processes, quality and supervision are not compromised for the sake of affordability.
                    Just like Metropolitan’s luxury apartments, constructions are done by experienced international engineers with strict supervision. Our Real Estate always strives to give you a modern and luxurious life in the African capital Addis Ababa. Metropolitan is now working on two kinds of apartments: luxury apartments and standard apartments. It is our passion to create spaces that embody the convenience and comfort of modern day luxury living in Ethiopia, while providing excellent investment opportunities in some of Addis Ababa’s most prime real estate locations such as Bole, Sarbet, Bisrate Gebriel, African Union area, and Total Soset Kuter Mazoria.
                    For Metropolitan, becoming the best real estate developer in Ethiopia is all about delivering high quality apartments in timely manner. </p>
            </div>
            <div class="col-md-6" style="font-family: 'Poppins',sans-serif; color: #111111; font-weight: 300">
                <p>It is our passion to create spaces that embody the convenience and comfort of modern day luxury living in Ethiopia, while providing excellent investment opportunities in some of Addis Ababa’s most prime real estate locations such as Bole, Sarbet, Bisrate Gebriel, African Union area, and Total Soset Kuter Mazoria.
                For our Real Estate always strives to give you a modern and luxurious life in the African capital Addis Ababa. Metropolitan is now working on two kinds of apartments: luxury apartments and standard apartments., becoming the best real estate developer in Ethiopia is all about delivering high quality apartments in timely manner. Luxury living is defined differently across different markets and areas. It also has its own definition in Ethiopia. Metropolitan Real Estate aims to redefine luxury living in Ethiopian homes.
                Our very first luxury house for sale in Addis Ababa was, Sarbet Gabriel Apartments, which was built and delivered in 12 months. We have now launched  two more luxury housing projects. Standard apartments are built with an international standard quality but with the element of affordability. Construction processes, quality and supervision are not compromised for the sake of affordability.
                Just like Metropolitan’s luxury apartments, constructions are done by experienced international engineers with strict supervision.</p>
            </div>
        </div>
        <div class="row topmargin-sm">
            <div class="col-md-4 topmargin-sm">
                <div class="blog-img" style="border-radius: 10px">
                    <a href="#"><img src="../assets/img/20190307_133049.jpg" class="img-fluid" alt="House interior image 1" style="border-radius: 10px"></a>
                </div>
                <div class="blog-info">
                    <a href="#" style="font-family: 'Poppins',sans-serif; color: #111111; font-weight: 600">
                        <p style="font-family: 'Poppins',sans-serif; color: #111111; font-weight: 600; font-size: 14px">Our Properties that are currently in consumer's market</p>
                    </a>
                    <a href="#" style="font-family: 'Poppins',sans-serif; color: #111111; font-weight: 600">Posted in Interior design by <b>Ermias Ashebr</b></a>
                </div>
            </div>
            <div class="col-md-4 topmargin-sm">
                <div class="blog-img" style="border-radius: 10px">
                    <a href="#"><img src="../assets/img/20190307_133049.jpg" class="img-fluid" alt="House interior image 2" style="border-radius: 10px"></a>
                </div>
                <div class="blog-info">
                    <a href="#" style="font-family: 'Poppins',sans-serif; color: #111111; font-weight: 600">
                        <p style="font-family: 'Poppins',sans-serif; color: #111111; font-weight: 600; font-size: 14px">View Some Properties already purchased</p>
                    </a>
                    <a href="#"style="font-family: 'Poppins',sans-serif; color: #111111; font-weight: 600">Posted in Interior design by <b>Nebyou Ameneshewa</b></a>
                </div>
            </div>
            <div class="col-md-4 topmargin-sm">
                <div class="blog-img" style="border-radius: 10px">
                    <a href="#"><img src="../assets/img/20190307_133049.jpg" class="img-fluid" alt="House interior image 3" style="border-radius: 10px"></a>
                </div>
                <div class="blog-info">
                    <a href="#" style="font-family: 'Poppins',sans-serif; color: #111111; font-weight: 600">
                        <p style="font-family: 'Poppins',sans-serif; color: #111111; font-weight: 600; font-size: 14px">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </a>
                    <a href="#" style="font-family: 'Poppins',sans-serif; color: #111111; font-weight: 600">Posted in Interior design by <b>James Wesley</b></a>
                </div>
            </div>
        </div>
    </div>



</main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


{{ end }}

