{{ define "user.navbar" }}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- css -->
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/dashboard.css">
    <link rel="stylesheet" href="../assets/css/icon-font.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="../assets/fontawesome-free-5.15.4-web/css/all.min.css" type="text/css" media="all">

</head>
<style>
    a.active,a:hover{
        border-left: 5px solid #b93632;
        color: #b93632;
    }
</style>
<body>
<nav class="navbar navbar-light fixed-top flex-md-nowrap p-0" style="background-color: #111111;">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#" style="font-family: 'Poppins',sans-serif; color: #FFFFFF; font-weight: 600">E&E Manager's page</a>
</nav>

<div class="container-fluid" style="background-color: #111111">
    <div class="row" >
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky" style="background-color: #111111">
                        <a class="nav-link" href="/userprof?id={{.User.ID}}" style="display: block;height: 65px;width: 100%;font-family: 'Poppins',sans-serif; color: #FFFFFF; font-weight: 600;line-height: 65px;padding-left: 30px;box-sizing: border-box;border-bottom: 1px solid black;border-top: 1px solid rgba(255,255,255,.1);font-family: 'Open Sans', sans-serif;transition: all .5s ease;">
                            <i class="fas fa-home" style="font-size: 23px; margin-right: 16px"></i>
                            <span data-feather="home" style="font-family: 'Poppins',sans-serif; color: #FFFFFF; font-weight: 600"></span>
                            Home <span class="sr-only">(current)</span>
                        </a>
                        <a class="nav-link" href="/user/update?id={{.User.ID}}" style="display: block;height: 65px;width: 100%;font-family: 'Poppins',sans-serif; color: #FFFFFF; font-weight: 600;line-height: 65px;padding-left: 30px;box-sizing: border-box;border-bottom: 1px solid black;border-top: 1px solid rgba(255,255,255,.1);font-family: 'Open Sans', sans-serif;transition: all .5s ease;">
                            <i class="fas fa-edit" style="font-size: 23px; margin-right: 16px"></i>
                            <span data-feather="update"></span>
                            Update Account
                        </a>
                        <a class="nav-link" href="/user/feedbacks" style="display: block;height: 65px;width: 100%;font-family: 'Poppins',sans-serif; color: #FFFFFF; font-weight: 600;line-height: 65px;padding-left: 30px;box-sizing: border-box;border-bottom: 1px solid black;border-top: 1px solid rgba(255,255,255,.1);font-family: 'Open Sans', sans-serif;transition: all .5s ease;">
                            <i class="fas fa-feed" style="font-size: 23px; margin-right: 16px"></i>
                            <span data-feather="delete" ></span>
                            Manage FeedBack
                        </a>
                        <a class="nav-link" href="/user/properties" style="display: block;height: 65px;width: 100%;font-family: 'Poppins',sans-serif; color: #FFFFFF; font-weight: 600;line-height: 65px;padding-left: 30px;box-sizing: border-box;border-bottom: 1px solid black;border-top: 1px solid rgba(255,255,255,.1);font-family: 'Open Sans', sans-serif;transition: all .5s ease;">
                            <i class="fas fa-home" style="font-size: 23px; margin-right: 16px"></i>
                            <span data-feather="delete" ></span>
                            Manage Property
                        </a>
                        <a class="nav-link" href="/user/orders" style="display: block;height: 65px;width: 100%;font-family: 'Poppins',sans-serif; color: #FFFFFF; font-weight: 600;line-height: 65px;padding-left: 30px;box-sizing: border-box;border-bottom: 1px solid black;border-top: 1px solid rgba(255,255,255,.1);font-family: 'Open Sans', sans-serif;transition: all .5s ease;">
                            <i class="fas fa-shopping-cart" style="font-size: 23px; margin-right: 16px"></i>
                            <span data-feather="delete" style="font-family: 'Poppins',sans-serif; color: #FFFFFF; font-weight: 600"></span>
                            User Order
                        </a>
                        <a class="nav-link"href="/logout" style="display: block;height: 65px;width: 100%;font-family: 'Poppins',sans-serif; color: #FFFFFF; font-weight: 600;line-height: 65px;padding-left: 30px;box-sizing: border-box;border-bottom: 1px solid black;border-top: 1px solid rgba(255,255,255,.1);font-family: 'Open Sans', sans-serif;transition: all .5s ease;">
                            <i class="fas icofont-logout" style="font-size: 23px; margin-right: 16px; color: white"></i>
                            <span data-feather="delete" ></span>
                            Logout
                        </a>
            </div>
        </nav>
    </div>
</div>
{{ end }}